.outer-main
{
    margin-top: 100px;
    border: 1px solid gray;
    padding: 20px;

}

.form-group
{
    padding: 20px;
    text-align: justify;
    font-weight: bold;
    font-size: large;
}

.btn-remove{
    margin-top: 40px;
}

h4{
    text-align: center;
     
}

.btn-text-right
{
    text-align: right;
}

h3{
    color:cornflowerblue
}