<header>
    <ul style="background-color: #dddddd;">
        <li><a routerLink="/hooks">LifeCycleHooks</a></li>
        <li><a routerLink="/tdf">TemplateDForm</a></li>
        <li><a routerLink="/nestdRF">Nested R-Form</a></li>
        <li><a routerLink="/arrForm">Array Form</a></li>
        <li><a routerLink="/angparent">Parent-Child</a></li>
        <li><a routerLink="/directives">Directives</a></li>
        <li><a routerLink="/builtin">Pipes</a></li>
        <li><a routerLink="/contactus">Contact-AuthGuard</a></li>
        <li><a routerLink="/CanActivateChild">CanActivateChild</a></li>
        <li><a routerLink="/destory">CanDestory</a></li>
        <li><a routerLink="/demoM">LoadLazyModel</a></li>
        <li><a (click)="setLigin()">Login</a></li>
        <li><a (click)="clearStorage()">Log-Out</a></li>
        
    </ul>
</header>

<hr>
<!-- 
<header>
    <ul style="background-color: #dddddd;">
        <li><a routerLink="/hooks">LifeCycleHooks</a></li>
        <li><a routerLink="/tdf">TemplateDForm</a></li>
        <li><a routerLink="/nestdRF">Nested R-Form</a></li>
        <li><a routerLink="/arrForm">Array Form</a></li>
        <li><a routerLink="/angparent">Parent-Child</a></li>
        <li><a routerLink="/directives">Directives</a></li>
        <li><a routerLink="/builtin">Pipes</a></li>
        <li><a routerLink="/contactus">Contact-AuthGuard</a></li>
        <li><a routerLink="/CanActivateChild">CanActivateChild</a></li>
        <li><a routerLink="/demoM">LoadLazyModel</a></li>               
    </ul>
</header> -->
<router-outlet></router-outlet>

